/* Custom file emoji */
/* 
.nav-file-title-content::before {
    margin-right: 3px;
}

.nav-file-title[data-path $= "Sync.md"] .nav-file-title-content::before {
    content: '📑';
    margin-left: -18px;
    position: absolute;
}
*/