/* PLUGIN :: Search */
body:not(.show-search-pane-suggestions) .mod-search-suggestion {
	display: none;
}

textarea:active, input.metadata-input-text:active, input[type='date']:active, input[type='datetime-local']:active, input[type='text']:active, input[type='search']:active, input[type='email']:active, input[type='password']:active, input[type='number']:active, textarea:focus, input.metadata-input-text:focus, input[type='date']:focus, input[type='datetime-local']:focus, input[type='text']:focus, input[type='search']:focus, input[type='email']:focus, input[type='password']:focus, input[type='number']:focus, textarea:focus-visible, input.metadata-input-text:focus-visible, input[type='date']:focus-visible, input[type='datetime-local']:focus-visible, input[type='text']:focus-visible, input[type='search']:focus-visible, input[type='email']:focus-visible, input[type='password']:focus-visible, input[type='number']:focus-visible {
  box-shadow: unset;
}

.search-input-container:before {
    display: none;
}

.search-input-container input {
    padding-left: 8px;
}

.search-results-info:not(:hover) {
    transition: linear .3s;
    opacity: 0;
    height: 0em;
}

.search-results-info {
    transition: linear .3s .2s;
    height: 1.5em;
}

.search-result-container {
    padding: var(--size-4-1) var(--size-4-2) var(--size-4-1) var(--size-4-2) ;
}

.search-result-file-match {
    padding: var(--size-2-1) var(--size-4-2) var(--size-2-1) var(--size-4-2);
    margin: var(--size-4-1) 0 var(--size-4-1);
}

.workspace-tabs.mod-active:has(.mod-active > [data-type="search"]) ~ .workspace-tabs:has(.workspace-leaf > [data-type="outline"]) {
    display: none; /* hide outline in search view */
}