/* HEADINGS :: Media Querys L1-6 */
@media (min-width: 1px) and (max-width: 2800px) {

    h1,
    .markdown-rendered h1,
    .HyperMD-header-1,
    .HyperMD-list-line .cm-header-1 {
        font-size: 1.802em !important;
        font-weight: 700;
    }

    h2,
    .markdown-rendered h2,
    .HyperMD-header-2,
    .HyperMD-list-line .cm-header-2 {
        font-size: 1.602em !important;
        font-weight: 700;
    }

    h3,
    .markdown-rendered h3,
    .HyperMD-header-3,
    .HyperMD-list-line .cm-header-3 {
        font-size: 1.424em !important;
        font-weight: 700;
    }

    h4,
    .markdown-rendered h4,
    .HyperMD-header-4,
    .HyperMD-list-line .cm-header-4 {
        font-size: 1.266em !important;
        font-weight: 700;
    }

    h5,
    .markdown-rendered h5,
    .HyperMD-header-5,
    .HyperMD-list-line .cm-header-5 {
        font-size: 1.125em !important;
        font-weight: 700;
    }

    h6,
    .markdown-rendered h6,
    .HyperMD-header-6,
    .HyperMD-list-line .cm-header-6 {
        font-size: 1em !important;
        font-weight: 700;
    }
}


/* HEADINGS :: ## Symbol */
.cm-formatting-header {
    color: var(--text-muted);
    opacity: .5;
}

/* HEADINGS :: HSize Symbol */
body:not(.no-lp-heading-level-indicator) .is-live-preview .cm-header:before {
    color: var(--text-muted);
    opacity: .5;
    padding-left: 0px;
    padding-right: 4px;
    font-size: .8rem;
    line-height: 1em;
    position: relative;
    bottom: 1px;
    left: -2px;
}

body:not(.no-lp-heading-level-indicator) .is-live-preview .cm-line:not(.cm-active)>.cm-header-1:before {
    content: "H1";
}

body:not(.no-lp-heading-level-indicator) .is-live-preview .cm-line:not(.cm-active)>.cm-header-2:before {
    content: "H2";
}

body:not(.no-lp-heading-level-indicator) .is-live-preview .cm-line:not(.cm-active)>.cm-header-3:before {
    content: "H3";
}

body:not(.no-lp-heading-level-indicator) .is-live-preview .cm-line:not(.cm-active)>.cm-header-4:before {
    content: "H4";
}

body:not(.no-lp-heading-level-indicator) .is-live-preview .cm-line:not(.cm-active)>.cm-header-5:before {
    content: "H5";
}

body:not(.no-lp-heading-level-indicator) .is-live-preview .cm-line:not(.cm-active)>.cm-header-6:before {
    content: "H6";
}


/* FORMATING :: Bold Text */
strong,
.cm-strong {
    color: var(--accent-ext-obsidian);
    /* inactive */
}

.cm-line.HyperMD-quote .cm-quote.cm-strong {
    color: var(--accent-ext-obsidian);
    /* inactive */
}

.cm-s-obsidian span.cm-formatting-strong,
.cm-s-obsidian span.cm-strong {
    color: var(--accent-ext-obsidian);
    /* inactive */
}