/* EDITOR :: Active Line Indicator */
body:not(.no-active-line-highlight, .active-line-background)
  .cm-active:not(.HyperMD-quote, .HyperMD-header, .HyperMD-codeblock)::before {
  position: absolute;
  left: -1.125em;
  height: 100%;
  content: "";
  border-left: 3px solid var(--divider-color);
}
