/* COMMAND PALETTE :: Adjustments */
.modal-bg {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-modifier-cover);
  opacity: 0;
  transition: opacity 0.15s ease-out;
  pointer-events: none;
}

.prompt {
  --anim-duration-slow: 640ms;
  --anim-motion-out: cubic-bezier(0.32, 0.72, 0, 1.1);
  transition: var(--anim-duration-slow) var(--anim-motion-out);
  @starting-style {
    transform: scale(0.98);
  }
}

.prompt {
  box-shadow: var(--shadow-l);
  border-radius: 13px;
  border: var(--divider-width) solid var(--divider-color);
}

.modal-container:hover .modal-bg,
.modal-container:focus-within .modal-bg {
  opacity: 1;
}

.modal {
  border: var(--divider-width) solid var(--divider-color);
}

.modal-container
  .prompt
  .suggestion-item.mod-complex.is-selected
  .suggestion-hotkey {
  opacity: 1;
}

.modal-container .prompt .suggestion-item.mod-complex .suggestion-hotkey {
  font-size: calc(var(--font-ui-smaller) - 2px);
  text-transform: uppercase;
  opacity: 0.5;
  margin-right: 3px;
}

kbd {
  font-family: var(--font-interface);
  font-size: calc(var(--font-ui-smaller) - 2px);
  padding: 2px 6px;
  border: 1px solid var(--divider-color);
}

.suggestion-item :is(.suggestion-note, .suggestion-prefix) {
  font-size: var(--font-ui-smaller);
  font-family: var(--font-interface);
  position: absolute;
  right: 140px;
  padding: 3px 4px 3px;
  opacity: 0.25;
}

.suggestion-item.mod-complex .suggestion-prefix:after {
  display: none; /* Remove ':' after prefix */
}

.suggestion-item.mod-complex .suggestion-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: clamp(200px, calc(20vw + 120px), 500px);
}

input.prompt-input::-webkit-input-placeholder {
  opacity: 0;
}

body:not(.is-mobile) .prompt .suggestion-item {
  position: relative;
}

.suggestion-item.mod-complex .suggestion-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}

.suggestion-item {
  cursor: var(--cursor);
  padding: var(--size-2-3) var(--size-4-3);
  padding-left: 12px;
  white-space: pre-wrap;
  white-space: unset !important;
  color: var(--text-muted);
}

.suggestion-item.is-selected {
  color: var(--text-normal);
  background-color: hsl(from var(--divider-color) h s l / 0.5);
}

.suggestion-item,
.suggestion-empty {
  font-size: var(--font-ui-medium);
  border-radius: 10px;
  margin-bottom: unset !important;
}

.suggestion-highlight {
  font-weight: 500;
  text-decoration: unset;
}

.suggestion-item.mod-complex .suggestion-highlight {
  font-weight: unset;
}

.suggestion-item.mod-complex
  .suggestion-highlight:not(.suggestion-prefix):not(.suggestion-prefix *) {
  color: var(--accent-base-shiny);
  font-weight: 500;
}

.prompt-input-container {
  border-bottom: unset;
}

input.prompt-input.is-active {
  border: unset !important;
}

input.prompt-input:focus {
  border: unset !important;
}

input.prompt-input:not(.is-active) {
  border: unset !important;
}

.modal-container .omnisearch-modal.prompt .prompt-results {
    padding: 0 var(--size-4-3) var(--size-4-3) var(--size-4-3);

    &:not(:has(.svelte-lazy)) {
        padding: 0;
        min-height: 0;
    }
}

.suggestion-item.mod-complex:not(:has(.suggestion-aux .suggestion-flair)):not(
    :has(.suggestion-highlight)
  ) {
  display: none; /* Hide all non-pinned commands EXCEPT search results */
}

.modal-container .prompt .prompt-instructions {
  display: none;
}

input.prompt-input {
  background-color: unset;
}
