/*
   - Obsidian MOD :: Remove shadow
   - Obsidian CORE :: File Explorer
   - Obsidian CORE :: Command palette command (pinned)
   - Obsidian CORE :: Outline

   Obsidian Docs:
   https://docs.obsidian.md/Reference/CSS+variables/Foundations/Icons

   SVG Sources:
   https://icones.js.org/
   https://lucide.dev/icons/

   SVG Converter:
   https://yoksel.github.io/url-encoder/
*/

/* Obsidian MOD :: Remove shadow  */
mod-left-split
  .workspace-tab-header
  .mod-left-split
  .workspace-tab-header.has-active-menu,
.mod-right-split .workspace-tab-header.has-active-menu,
.mod-left-split .workspace-tab-header.is-active,
.mod-right-split .workspace-tab-header.is-active {
  background-color: unset;
}

/* Obsidian CORE :: File Explorer */
.workspace-tab-header[aria-label="Files"] .workspace-tab-header-inner-icon svg {
  background-color: currentColor;
  /* --icon-size: 16px; */
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg%3E%3Cpath fill='currentColor' d='M23 3c-6.62-.1-10.38 2.421-13.05 6.03C7.29 12.61 6 17.331 6 22h2c0-1.007.07-2.012.19-3H12c4.1 0 7.48-3.082 7.94-7.054C22.79 10.147 23.17 6.359 23 3zm-7 8h-1.5v2H16c.63-.016 1.2-.08 1.72-.188C16.95 15.24 14.68 17 12 17H8.55c.57-2.512 1.57-4.851 3-6.78 2.16-2.912 5.29-4.911 9.45-5.187C20.95 8.079 19.9 11 16 11zM4 9V6H1V4h3V1h2v3h3v2H6v3H4z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/* Obsidian CORE :: Search */
.workspace-tab-header[aria-label="Search"]
  .workspace-tab-header-inner-icon
  svg {
  background-color: currentColor;
  /* --icon-size: 16px; */
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='currentColor' stroke-width='2'%3E%3Ccircle cx='11' cy='11' r='7'/%3E%3Cpath stroke-linecap='round' d='M11 8a3 3 0 0 0-3 3m12 9l-3-3'/%3E%3C/g%3E%3C/svg%3E");
}

/* Obsidian CORE :: Bookmarks */
.workspace-tab-header[aria-label="Bookmarks"]
  .workspace-tab-header-inner-icon
  svg {
  background-color: currentColor;
  /* --icon-size: 16px; */
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M21.17 2.06A13 13 0 0 0 19 1.87a12.94 12.94 0 0 0-7 2.05a12.94 12.94 0 0 0-7-2a13 13 0 0 0-2.17.19a1 1 0 0 0-.83 1v12a1 1 0 0 0 1.17 1a10.9 10.9 0 0 1 8.25 1.91l.12.07h.11a.9.9 0 0 0 .7 0h.11l.12-.07A10.9 10.9 0 0 1 20.83 16A1 1 0 0 0 22 15V3a1 1 0 0 0-.83-.94M11 15.35a12.9 12.9 0 0 0-6-1.48H4v-10a9 9 0 0 1 1 0a10.86 10.86 0 0 1 6 1.8Zm9-1.44h-1a12.9 12.9 0 0 0-6 1.48V5.67a10.86 10.86 0 0 1 6-1.8a9 9 0 0 1 1 0Zm1.17 4.15a13 13 0 0 0-2.17-.19a12.94 12.94 0 0 0-7 2.05a12.94 12.94 0 0 0-7-2.05a13 13 0 0 0-2.17.19A1 1 0 0 0 2 19.21a1 1 0 0 0 1.17.79a10.9 10.9 0 0 1 8.25 1.91a1 1 0 0 0 1.16 0A10.9 10.9 0 0 1 20.83 20a1 1 0 0 0 1.17-.79a1 1 0 0 0-.83-1.15'/%3E%3C/svg%3E");
}

/* Obsidian CORE :: Command palette command (pinned) */
.suggestion-item.mod-complex .suggestion-flair svg {
  background-color: currentColor;
  color: var(--accent-base-shiny);
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23888888' d='M10.154 14H7.169q-.407 0-.59-.355q-.18-.355.054-.682l5.629-8.153q.153-.216.38-.286q.227-.07.48.022q.251.092.365.304q.113.212.082.463L12.865 11h3.587q.42 0 .595.383q.176.382-.095.71l-6.264 7.503q-.16.19-.386.242t-.448-.046q-.221-.098-.338-.297q-.116-.199-.085-.45z'/%3E%3C/svg%3E");
}

/* Obsidian CORE :: Settings Hotkey */
.setting-item-control .clickable-icon.setting-add-hotkey-button[aria-label="Customize this command"] svg {
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='currentColor' stroke-width='1.5'%3E%3Cpath d='M3 19V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m8 14l4-4l4 4'/%3E%3C/g%3E%3C/svg%3E");
}

.setting-item-control .clickable-icon.extra-setting-button[aria-label*="Configure hotkeys"] svg {
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='currentColor' stroke-width='1.5'%3E%3Cpath d='M3 19V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m8 14l4-4l4 4'/%3E%3C/g%3E%3C/svg%3E");
}

/* Obsidian CORE :: Outline */
.workspace-tab-header[data-type="outline"]
  .workspace-tab-header-inner-icon
  svg {
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M3 5h8'/%3E%3Cpath d='M3 12h8'/%3E%3Cpath d='M3 19h8'/%3E%3Cpath d='m15 8 3-3 3 3'/%3E%3Cpath d='m15 16 3 3 3-3'/%3E%3C/svg%3E");
}
