.is-hidden-frameless:not(.is-fullscreen)
  .workspace-tabs.mod-top-right-space
  .workspace-tab-header-container {
  background-color: var(--background-primary);
  border-bottom: unset;
}

body:not(.is-grabbing):not(.is-fullscreen).is-hidden-frameless
  .mod-top
  .workspace-tab-header-container {
  background-color: unset;
}

.mod-root
  .workspace-tabs:not(.mod-stacked).mod-active
  .workspace-tab-header.is-active
  .workspace-tab-header-inner,
.mod-root
  .workspace-tabs:not(.mod-stacked).mod-active
  .workspace-tab-header.is-active
  .workspace-tab-header-inner-title,
.mod-root
  .workspace-tabs:not(.mod-stacked).mod-active
  .workspace-tab-header.is-active
  .workspace-tab-header-inner-close-button,
.mod-root
  .workspace-tabs:not(.mod-stacked).mod-active
  .workspace-tab-header.is-active
  .workspace-tab-header-inner-icon {
  color: var(--text-normal) !important;
}

.is-active .workspace-tab-header-inner-title {
  font-weight: 500;
  color: var(--typo-hsl);
  text-rendering: geometricPrecision;
}

.workspace-tab-header-status-icon,
.workspace-tab-header-inner-close-button {
  transform: scale(0.75);
}

.mod-left-split .workspace-tab-header, .mod-right-split .workspace-tab-header {
  height: var(--tab-height);
}

.workspace-tab-header-tab-list .clickable-icon, .workspace-tab-header-new-tab .clickable-icon {
  color: var(--text-faint);
}

.mod-left-split .workspace-tab-header-container-inner, .mod-right-split .workspace-tab-header-container-inner {
  padding: 1px 0 7px;
  margin: 3px 0 0 0;
  gap: 3px;
}

.mod-left-split .workspace-tab-header-container-inner .workspace-tab-header.tappable .workspace-tab-header-inner {
  padding: var(--size-2-2) var(--size-2-3);
}

.mod-macos.is-hidden-frameless:not(.is-popout-window) .sidebar-toggle-button.mod-right {
    background-color: transparent;
}
