.is-hidden-frameless:not(.is-fullscreen)
  .workspace-tabs.mod-top-right-space
  .workspace-tab-header-container {
  background-color: var(--background-primary);
  border-bottom: unset;
}

body:not(.is-grabbing):not(.is-fullscreen).is-hidden-frameless
  .mod-top
  .workspace-tab-header-container {
  background-color: unset;
}

.mod-linux .titlebar-button,
.mod-windows .titlebar-button {
  background-color: var(--background-primary);
}

.mod-root:not(.mod-left-split):not(.mod-right-split)
  .workspace-tabs:not(.mod-stacked)
  .workspace-tab-header.is-active {
  background-color: var(--background-secondary-alt);
}

.mod-left-split
  .workspace-tab-header.has-active-menu
  .workspace-tab-header-inner-icon,
.mod-right-split
  .workspace-tab-header.has-active-menu
  .workspace-tab-header-inner-icon,
.mod-left-split
  .workspace-tab-header.is-active
  .workspace-tab-header-inner-icon,
.mod-right-split
  .workspace-tab-header.is-active
  .workspace-tab-header-inner-icon {
  color: var(--text-normal) !important;
}

.mod-root
  .workspace-tabs:not(.mod-stacked).mod-active
  .workspace-tab-header.is-active
  .workspace-tab-header-inner,
.mod-root
  .workspace-tabs:not(.mod-stacked).mod-active
  .workspace-tab-header.is-active
  .workspace-tab-header-inner-title,
.mod-root
  .workspace-tabs:not(.mod-stacked).mod-active
  .workspace-tab-header.is-active
  .workspace-tab-header-inner-close-button,
.mod-root
  .workspace-tabs:not(.mod-stacked).mod-active
  .workspace-tab-header.is-active
  .workspace-tab-header-inner-icon {
  color: var(--text-normal) !important;
}

.is-active .workspace-tab-header-inner-title {
  font-weight: 500;
  color: var(--typo-hsl);
  text-rendering: geometricPrecision;
}

.workspace
  .mod-root
  .workspace-tab-header:not(.is-active)
  .workspace-tab-header-inner-title {
  opacity: 0.4;
}

.workspace-tab-header-status-icon,
.workspace-tab-header-inner-close-button {
  transform: scale(0.75);
}
