/* TAB :: Empty State (New tab) */
.workspace-tab-header[aria-label="No file"] {
  visibility: hidden;
}

.workspace-tab-header[aria-label="New tab"] {
  visibility: hidden;
}

.mod-root .workspace-tab-header-new-tab {
  visibility: hidden;
}

.workspace-tab-header[data-type="empty"]:not(:only-child) {
  font-style: italic;
}

.empty-state-action {
  display: none;
}

.mod-root .empty-state-title {
  font-size: 0;
}

.mod-root .empty-state-title::after {
  content: "";
  display: inline-block;
  background-color: var(--text-faint);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.9;
  transform: scale(0.96);
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20.6162 10.835C18.9212 10.105 17.4388 9.105 16.1663 7.83375C14.895 6.5625 13.8938 5.07875 13.165 3.38375C12.8862 2.735 12.66 2.06625 12.4875 1.38125C12.4313 1.1575 12.2312 1 12 1C11.7688 1 11.5687 1.1575 11.5125 1.38125C11.34 2.06625 11.115 2.7325 10.835 3.38375C10.105 5.07875 9.105 6.5625 7.83375 7.83375C6.5625 9.10375 5.07875 10.105 3.38375 10.835C2.735 11.1138 2.06625 11.34 1.38125 11.5125C1.1575 11.5687 1 11.7688 1 12C1 12.2312 1.1575 12.4313 1.38125 12.4875C2.06625 12.66 2.7325 12.885 3.38375 13.165C5.07875 13.895 6.56125 14.895 7.83375 16.1663C9.105 17.4375 10.1062 18.9212 10.835 20.6162C11.115 21.2662 11.34 21.9338 11.5125 22.6187C11.5398 22.7275 11.6025 22.824 11.6908 22.8931C11.7791 22.9621 11.8879 22.9997 12 23C12.2312 23 12.4313 22.8425 12.4875 22.6187C12.66 21.9338 12.885 21.2675 13.165 20.6162C13.895 18.9212 14.895 17.4388 16.1663 16.1663C17.4375 14.895 18.9212 13.8938 20.6162 13.165C21.2662 12.885 21.9338 12.66 22.6187 12.4875C22.7275 12.4602 22.824 12.3975 22.8931 12.3092C22.9621 12.2209 22.9997 12.1121 23 12C23 11.7688 22.8425 11.5687 22.6187 11.5125C21.9338 11.34 21.2675 11.115 20.6162 10.835Z' fill='black'/%3E%3C/svg%3E");
}

.mod-root .empty-state-title:hover::after {
  transform: scale(1.02);
  opacity: 1;
}