/* TAB :: Empty State (New tab) */
.workspace-tab-header[aria-label="No file"] {
  visibility: hidden;
}

.workspace-tab-header[aria-label="New tab"] {
  visibility: hidden;
}

.mod-root .workspace-tab-header-new-tab {
  visibility: hidden;
}

.workspace-tab-header[data-type="empty"]:not(:only-child) {
  font-style: italic;
}

.empty-state-action {
  display: none;
}

.mod-root .empty-state-title {
  font-size: 0;
}

.mod-root .empty-state-title::after {
  content: var(--signature);
  font-size: 4rem;
  font-weight: 600;
  color: var(--text-faint);
}