/* FEXP :: Adjustments */
.tree-item-self {
  font-size: 0.9em;
  margin-bottom: 0.09em;
  margin-top: unset;
}

.tree-item-children {
  margin-inline-start: calc(var(--nav-item-children-margin-start, var(--nav-item-children-margin-left)) - 1px);
  border-inline-start: 2px solid var(--indentation-guide-color);
}

/* Prevent filename trim while renaming */
.tree-item-self.is-being-renamed .tree-item-inner {
  white-space: normal;
}

.workspace-leaf-content[data-type="file-explorer"] .nav-files-container {
  padding: var(--size-4-2) calc(var(--size-2-2) + 2px) var(--size-4-6) var(--size-2-2);
}

.collapse-icon svg.svg-icon {
  color: unset;
}

.nav-folder-title {
  color: var(--text-muted);
  font-weight: 400;
}

.nav-file-title {
  color: var(--text-faint);
  font-weight: 400;
}

body:not(.is-phone) .workspace-leaf.mod-active .tree-item-self.has-focus {
  border-radius: unset;
  box-shadow: unset;
}

body:not(.is-grabbing) .tree-item-self.is-clickable:not(.is-active) {
  transition: 200ms;
  transition-property: background, color;
}

body:not(.is-grabbing) .nav-file-title.is-active:hover,
body:not(.is-grabbing) .nav-folder-title.is-active:hover {
    color: var(--interactive-accent);
}

.nav-file-title.is-active:not(:hover) {
  color: var(--interactive-accent);
}

/* Smooth side panels entrance transitions (desktop only) */
body:not(.is-mobile) .mod-sidedock .workspace-leaf {
    animation: 300ms cubic-bezier(0.3, 0.75, 0, 1) reveal-panels;
}

@keyframes reveal-panels {
  0% {
    transform: scale(1.0625);
    opacity: 0;
  }
}