/* CORE UI :: Hider CSS Modifications */
.workspace-ribbon.mod-left {
  display: none; /* mod left */
}

:is(
    .pt-nav-header-left-sidebar-align-center .workspace-split.mod-left-split,
    .pt-nav-header-right-sidebar-align-center .workspace-split.mod-right-split,
    .pt-nav-header-left-sidebar-align-center .workspace-drawer.mod-left,
    .pt-nav-header-right-sidebar-align-center .workspace-drawer.mod-right
  )
  .workspace-leaf-content
  .nav-header {
  display: none; /* interaction div */
}

body:not(.native-scrollbars) ::-webkit-scrollbar {
  display: none; /* native-scrollbars */
}

.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
::-webkit-scrollbar {
  width: 0px; /* native-scrollbars */
  height: 0px; /* native-scrollbars */
}

.tooltip:not(.mod-top) {
  display: none !important;
}

.status-bar {
  display: none;
}

/* .nav-header {
  display: none;
} */

/* .anp-alternate-tab-toggle .sidebar-toggle-button.mod-left,
.anp-alternate-tab-toggle .sidebar-toggle-button.mod-right {
  display: none;
} */