/* CODE BLOCK ELEMENT :: Adjustments */
body:not(.no-codeblock-line-numbers)
  .HyperMD-codeblock.cm-line:not(
    .HyperMD-codeblock-begin,
    .HyperMD-codeblock-end
  ) {
  padding-left: 2.8em;
}

.cm-line.HyperMD-codeblock .code-block-flair {
  top: unset;
  color: var(--text-muted);
  padding: 0 1px;
}

.markdown-source-view.mod-cm6 .code-block-flair {
  position: absolute;
  right: 6px;
  z-index: 1;
  display: inline-block;
  padding: unset;
  border-radius: var(--code-radius);
  font-family: var(--font-interface);
  font-size: var(--font-ui-smaller);
  color: var(--text-muted);
  cursor: var(--cursor);
  transform: scale(0.8);
}

body:not(.no-codeblock-line-numbers) .HyperMD-codeblock-begin {
  counter-reset: codeblock-line-numbers;
}

body:not(.no-codeblock-line-numbers)
  .is-live-preview
  .HyperMD-codeblock-end
  span:nth-child(2):before {
  display: none;
}

body:not(.no-codeblock-line-numbers)
  .HyperMD-codeblock:not(
    .HyperMD-codeblock-begin,
    .HyperMD-codeblock-end
  ):before {
  color: var(--text-muted);
  text-align: right;
  content: counter(codeblock-line-numbers);
  counter-increment: codeblock-line-numbers;
  width: 1.15em;
  height: 100%;
  padding-right: 1.4em;
  font-size: 0.75em;
  line-height: 2;
  position: absolute;
  left: 0;
}

.expressive-code .frame.header::before {
  display: none;
}

.expressive-code .frame .header {
  display: none !important;
  padding-block: unset;
  padding-block-end: unset;
}

.cm-s-obsidian .HyperMD-codeblock {
  font-weight: 500;
}
