/* CODE BLOCK ELEMENT :: Adjustments */
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock:not(.HyperMD-list-line) {
  padding-inline-start: calc(var(--size-4-4) * 1.6);
}

body:not(.no-codeblock-line-numbers)
  .HyperMD-codeblock.cm-line:not(
    .HyperMD-codeblock-begin,
    .HyperMD-codeblock-end
  ) {
  padding-left: 2.8em;
}

.cm-line.HyperMD-codeblock .code-block-flair {
  top: unset;
  color: var(--text-muted);
  padding: 0 1px;
}

.markdown-source-view.mod-cm6 .code-block-flair {
  position: absolute;
  right: 6px;
  top: 6px;
  z-index: 1;
  display: inline-block;
  padding: var(--size-2-1) var(--size-2-3);
  border-radius: 5px;
  font-family: var(--font-interface);
  font-size: 0;
  color: var(--text-faint);
  cursor: var(--cursor);
  transition: color var(--motion-dur-base) var(--motion-ease-out);

  &:hover {
    color: var(--text-muted);
  }

  svg {
    display: none;
  }

  &:after {
    content: attr(aria-label);
    font-size: 11px;
  }
}

body:not(.no-codeblock-line-numbers) .HyperMD-codeblock-begin {
  counter-reset: codeblock-line-numbers;
}

body:not(.no-codeblock-line-numbers)
  .is-live-preview
  .HyperMD-codeblock-end
  span:nth-child(2):before {
  display: none;
}

body:not(.no-codeblock-line-numbers)
  .HyperMD-codeblock:not(
    .HyperMD-codeblock-begin,
    .HyperMD-codeblock-end
  ):before {
  color: var(--text-muted);
  text-align: right;
  content: counter(codeblock-line-numbers);
  counter-increment: codeblock-line-numbers;
  width: 1.8em;
  height: 100%;
  padding-right: 1.4em;
  font-size: 0.75em;
  line-height: 2;
  position: absolute;
  left: 0.4em;
}

.expressive-code .frame.header::before {
  display: none;
}

.expressive-code .frame .header {
  display: none !important;
  padding-block: unset;
  padding-block-end: unset;
}

.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian .cm-inline-code,
code {
  font-weight: 500;
  font-feature-settings: "calt" 1, "liga" 1;
}
