/* FORMAT :: Bold Text */
strong,
.cm-strong {
  font-weight: 550;
}

.cm-line.HyperMD-quote .cm-quote.cm-strong {
  font-weight: 550;
}

.cm-s-obsidian span.cm-formatting-strong,
.cm-s-obsidian span.cm-strong {
  font-weight: 550;
}
