/* OUTLINE :: Hide Elements */
body:not(.show-sidebar-header-buttons) {
  --sidebar-tabs-unhovered-height: 8px;
}

body:not(.show-sidebar-header-buttons)
  :is(.mod-left-split, .mod-right-split)
  .workspace-tabs:not(.mod-top)
  .workspace-tab-header-container:not(:hover) {
  height: var(--sidebar-tabs-unhovered-height);
}

body:not(.show-sidebar-header-buttons)
  :is(.mod-left-split, .mod-right-split)
  :is(.workspace-tab-header, .workspace-tab-header svg),
body:not(.show-sidebar-header-buttons)
  :is(.mod-left-split, .mod-right-split)
  :is(.workspace-tab-header-container, .workspace-tab-header-container *) {
  transition: 300ms;
  transition-property: opacity, height, background-color;
  transition-delay: 200ms;
}

.workspace-leaf-content[data-type="outline"] .view-content {
  padding: var(--size-4-2) var(--size-2-2) var(--size-4-6) var(--size-2-2);
}

.outline
  .tree-item.is-collapsed
  > .tree-item-self.tree-item-self.tree-item-self {
  font-weight: 600;
}

.outline .pane-empty {
  display: none;
}

.pane-empty {
  display: none;
}

.workspace-ribbon {
  border-right: var(--divider-width) solid var(--divider-color);
}
