/* SIDEDOCK :: Vault Profiles */
body:not(.is-mobile)
  .workspace-split.mod-left-split
  .workspace-sidedock-vault-profile {
  align-items: center;
  height: var(--header-height);
  flex: 0 0 auto;
  gap: var(--size-4-1);
  justify-content: space-between;
  padding: var(--size-2-2) var(--size-2-2);
  order: 1;
}

body:not(.is-mobile)
  .workspace-split.mod-left-split
  .workspace-sidedock-vault-profile
  .workspace-drawer-vault-switcher {
  color: var(--text-faint);
  transition: all 0.3s ease-in;
}

body:not(.is-mobile)
  .workspace-split.mod-left-split
  .workspace-sidedock-vault-profile
  .workspace-drawer-vault-switcher {
  transition: all 0.3s ease-out;
}

body:not(.is-mobile)
  .workspace-split.mod-left-split
  .workspace-sidedock-vault-profile
  .workspace-drawer-vault-switcher-icon {
  color: var(--text-faint);
}

body:not(.is-mobile)
  .workspace-split.mod-left-split
  .workspace-sidedock-vault-profile
  .workspace-drawer-vault-actions
  .clickable-icon {
  transition: opacity 0.3s ease-out;
  opacity: 0;
}

body:not(.is-mobile)
  .workspace-split.mod-left-split
  .workspace-sidedock-vault-profile
  .workspace-drawer-vault-actions
  .clickable-icon:hover {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}
