body:is(.theme-dark) {
  --signature: "✦";

  --color-accent: var(--interactive-accent);
  --interactive-accent: var(--accent-ext-shinyfocus);
  --interactive-accent-hover: color-mix(in srgb, var(--interactive-accent), white 15%);

  --accent-ext-linear: hsl(234, 56%, 60%);
  --accent-ext-anysphere: hsl(247, 90%, 80%);
  --accent-ext-shinyfocus: hsl(184 78% 35%);

  --header-height: 30px;
  --tab-height: calc(var(--header-height) - 12px);
  --titlebar-background: var(--titlebar-background-focused);
  --titlebar-text-color-focused: var(--accent-base-dimmed);
  --checkbox-border-color: var(--text-muted);
  --checkbox-radius: 25%;
  --list-marker-color-collapsed: hsl(0, 0%, 100%);
  --tab-outline-width: var(--divider-width);
  --divider-width: 2px;
  // --divider-color: hsl(233, 15%, 22%);
  --text-normal: hsl(55, 10%, 79%);
  --code-normal: var(--text-normal);
  --code-comment: var(--text-faint);
  --code-function: var(--accent-ext-linear);
  --code-string: var(--text-muted);
  --code-important: var(--accent-ext-obsidian);
  --code-keyword: var(--accent-ext-linear);
  --code-operator: var(--accent-ext-obsidian);
  --code-property: var(--accent-ext-shinyfocus);
  --code-punctuation: var(--text-muted);
  --code-tag: var(--text-faint);
  --code-value: var(--text-normal);
}

body:is(.theme-light) {
  --signature: "✦";

  --color-accent: var(--interactive-accent);
  --interactive-accent: var(--accent-ext-shinyfocus);
  --interactive-accent-hover: color-mix(in srgb, var(--interactive-accent), white 15%);

  --accent-ext-linear: hsl(234, 56%, 60%);
  --accent-ext-anysphere: hsl(247, 90%, 80%);
  --accent-ext-shinyfocus: hsl(184 78% 35%);

  --header-height: 30px;
  --tab-height: calc(var(--header-height) - 12px);
  --titlebar-background: var(--titlebar-background-focused);
  --titlebar-text-color-focused: var(--accent-base-dimmed);
  --checkbox-border-color: var(--text-muted);
  --checkbox-radius: 25%;
  --list-marker-color-collapsed: var(--text-faint);
  --tab-outline-width: var(--divider-width);
  --divider-width: 2px;
  // --divider-color: hsl(230 25% 92%);
  --text-normal: hsl(60, 3%, 23%);
  --code-normal: var(--text-normal);
  --code-comment: var(--text-faint);
  --code-function: var(--accent-ext-linear);
  --code-string: var(--text-muted);
  --code-important: var(--accent-ext-obsidian);
  --code-keyword: var(--accent-ext-linear);
  --code-operator: var(--accent-ext-obsidian);
  --code-property: var(--accent-ext-shinyfocus);
  --code-punctuation: var(--text-muted);
  --code-tag: var(--text-faint);
  --code-value: var(--text-normal);

  /* Gamma (extend AnuPpuccin) */
  // --ctp-ext-base: 245, 246, 249;
  // --ctp-ext-mantle: 239, 240, 245;
  // --ctp-ext-crust: 239, 240, 245;
}
