body:is(.theme-dark) {
  --signature: "✦";

  --color-accent: var(--interactive-accent);
  --interactive-accent: var(--accent-ext-shinyfocus);
  --interactive-accent-hover: oklch(from var(--interactive-accent) calc(l + 0.05) c h);
  --text-normal: oklch(0.8491 0.0134 102.47);

  --accent-ext-linear: oklch(0.5712 0.1565 275.52);
  --accent-ext-anysphere: oklch(0.745 0.1307 288.14);
  --accent-ext-obsidian: oklch(0.7069 0.161594 294.1621);
  --accent-ext-shinyfocus: oklch(0.6133 0.1011 202.85);

  --divider-width: 2px;
  --header-height: 30px;
  --tab-height: calc(var(--header-height) - 12px);
  --tab-outline-width: var(--divider-width);
  --titlebar-background: var(--titlebar-background-focused);
  --list-marker-color-collapsed: var(--text-faint);
  --checkbox-border-color: var(--text-muted);
  --checkbox-radius: 25%;
  --link-external-color: var(--interactive-accent);
  --link-external-color-hover: var(--interactive-accent-hover);

  --code-normal: var(--text-normal);
  --code-comment: var(--text-faint);
  --code-function: var(--accent-ext-linear);
  --code-string: var(--text-muted);
  --code-important: var(--accent-ext-obsidian);
  --code-keyword: var(--accent-ext-linear);
  --code-operator: var(--accent-ext-obsidian);
  --code-property: var(--accent-ext-shinyfocus);
  --code-punctuation: var(--text-muted);
  --code-tag: var(--text-faint);
  --code-value: var(--text-normal);
}

body:is(.theme-light) {
  --signature: "✦";

  --color-accent: var(--interactive-accent);
  --interactive-accent: var(--accent-ext-shinyfocus);
  --interactive-accent-hover: oklch(from var(--interactive-accent) calc(l + 0.05) c h);
  --text-normal: oklch(0.3565 0.006 106.7);

  --accent-ext-linear: oklch(0.5712 0.1565 275.52);
  --accent-ext-anysphere: oklch(0.745 0.1307 288.14);
  --accent-ext-obsidian: oklch(0.7069 0.161594 294.1621);
  --accent-ext-shinyfocus: oklch(0.6133 0.1011 202.85);

  --divider-width: 2px;
  --header-height: 30px;
  --tab-height: calc(var(--header-height) - 12px);
  --tab-outline-width: var(--divider-width);
  --titlebar-background: var(--titlebar-background-focused);
  --list-marker-color-collapsed: var(--text-faint);
  --checkbox-border-color: var(--text-muted);
  --checkbox-radius: 25%;
  --link-external-color: var(--interactive-accent);
  --link-external-color-hover: var(--interactive-accent-hover);

  --code-normal: var(--text-normal);
  --code-comment: var(--text-faint);
  --code-function: var(--accent-ext-linear);
  --code-string: var(--text-muted);
  --code-important: var(--accent-ext-obsidian);
  --code-keyword: var(--accent-ext-linear);
  --code-operator: var(--accent-ext-obsidian);
  --code-property: var(--accent-ext-shinyfocus);
  --code-punctuation: var(--text-muted);
  --code-tag: var(--text-faint);
  --code-value: var(--text-normal);
}
