/*
   - CORE PLUGIN :: Search
   - EXT PLUGIN :: List Callouts
   - EXT PLUGIN :: OmniSearch
   - EXT PLUGIN :: Dataview
*/

/* EXT PLUGIN :: List Callouts */
.popover,
.suggestion-container {
  display: none;
}

/* EXT PLUGIN :: List Callouts */
.lc-list-bg {
  left: calc(-0 * var(--lc-bg-left));
}

/* EXT PLUGIN :: OmniSearch */
@media only screen and (max-width: 600px) {
  .omnisearch-input-container {
    flex-direction: unset;
  }
}

.omnisearch-input-container__buttons {
  display: none;
}

.omnisearch-default-highlight {
  color: var(--accent-base-shiny);
  text-decoration: underline;
  text-decoration-color: var(--accent-ext-shinyfocus);
  text-decoration-thickness: 3px;
  text-underline-offset: -1px;
}

.omnisearch-result__icon {
  display: none;
}

.omnisearch-result__body {
  max-width: calc(var(--prompt-max-width) - 15vh);
  margin-inline-start: unset;
}

.omnisearch-result__title svg.svg-icon {
  display: none;
}

.omnisearch-result__folder-path svg.svg-icon {
  display: none;
}

.omnisearch-result__folder-path {
  opacity: 0.5;
}

.omnisearch-highlight {
  font-weight: 500;
}

/* EXT PLUGIN :: Dataview */
div.dataview-error-box {
  border: unset;
}

.markdown-rendered ul,
.markdown-rendered ol {
  padding-inline-start: unset;
}

.dataview.task-list-item,
.dataview.task-list-basic-item {
  white-space: nowrap;
  overflow: hidden;
}

.table-view-table > thead > tr > th {
  border-color: var(--accent-base-dimmed);
  border: unset;
}

.table-view-table > thead > tr > th {
  color: var(--accent-ext-linear);
}
