/*
   - COMMAND PALETTE :: Adjustments
   - CORE UI :: Hider CSS Modifications
   - SETTINGS :: Vertical Nav
   - SETTINGS :: Ext Plugins Highlight
   - SETTINGS :: Toggles
   - FEXP :: Adjustments
   - FEXP :: Prevent filename trim while renaming
   - SIDEDOCK :: Vault Profiles
   - OUTLINE :: Hide Elements
   - EDITOR :: Active Line Indicator
   - BULLET LIST ELEMENT :: Collapsed list bullets animation
   - CHECKBOX INPUT ELEMENT :: Adjustments
   - CODE BLOCK ELEMENT :: Adjustments
   - CALLOUT ELEMENT :: Unique Callouts
   - HIGHLIGHTED TEXT :: Adjustments
   - EXTERNAL LINK :: Unicode symbol
   - INTERNAL LINK :: Opacity
   - TAB :: Empty State (New tab)
   - TAB :: Minimal theme layout add-on
*/

/* VARIABLE DECLARATION :: GLOBAL */
body:is(.theme-dark) {
  --signature: "✦";

  --accent-base-default: hsl(227, 70%, 87%);
  --accent-base-dimmed: hsl(229, 20%, 63%);
  --accent-base-shiny: var(--accent-ext-crystalteal);
  --accent-ext-linear: hsl(234, 56%, 60%);
  --accent-ext-obsidian: hsl(256, 92%, 76%);
  --accent-ext-crystalteal: hsl(180, 92%, 66%);

  --header-height: 30px;
  --tab-height: calc(var(--header-height) - 12px);
  --titlebar-background: var(--titlebar-background-focused);
  --titlebar-text-color-focused: var(--accent-base-dimmed);
  --text-normal: var(--text-muted);
  --text-muted: var(--accent-base-dimmed);
  --checkbox-radius: 25%;
  --list-marker-color-collapsed: hsl(0, 0%, 100%);
  --tab-outline-width: var(--divider-width);
  --divider-width: 2px;
  --divider-color: hsl(233, 15%, 22%);

  /* GitHub Dark Contrast for AnuPpuccin */
  --ctp-ext-base: 13, 17, 23;
  --ctp-ext-mantle: 1, 4, 9;
  --ctp-ext-crust: 1, 4, 9;

  --ctp-ext-lavender: 180, 190, 254;
}

body:is(.theme-light) {
  --signature: "✦";

  --accent-base-shiny: var(--accent-ext-shinyfocus);
  --accent-ext-linear: hsl(234, 56%, 60%);
  --accent-ext-obsidian: hsl(256, 92%, 76%);
  --accent-ext-crystalteal: hsl(180, 92%, 66%);
  --accent-ext-shinyfocus: hsl(184.26deg 78.77% 35.1%);

  --header-height: 30px;
  --tab-height: calc(var(--header-height) - 12px);
  --titlebar-background: var(--titlebar-background-focused);
  --titlebar-text-color-focused: var(--accent-base-dimmed);
  --text-normal: hsl(230 25% 35%);
  --text-muted: hsla(230, 25%, 35%, 0.4);
  --checkbox-border-color: var(--text-muted);
  --checkbox-radius: 25%;
  --list-marker-color-collapsed: hsl(0, 0%, 100%);
  --tab-outline-width: var(--divider-width);
  --divider-width: 2px;
  --divider-color: hsl(230 25% 92%);

  /* Gamma for AnuPpuccin */
  --ctp-ext-base: 245, 246, 249;
  --ctp-ext-mantle: 239, 240, 245;
  --ctp-ext-crust: 239, 240, 245;
}

/* COMMAND PALETTE :: Adjustments */
.vertical-tab-header-group-title {
  text-align: left;
  margin-left: 10px;
}

.prompt {
  border-radius: 13px;
  border: var(--divider-width) solid var(--divider-color);
}

.modal {
  border: var(--divider-width) solid var(--divider-color);
}

.modal-container .prompt .suggestion-item.mod-complex .suggestion-hotkey {
  font-size: calc(var(--font-ui-smaller) - 2px);
  text-transform: uppercase;
  opacity: 0.5;
  margin-right: 3px;
}

kbd {
  font-family: var(--font-interface);
  font-size: calc(var(--font-ui-smaller) - 2px);
  padding: 2px 6px;
  border: 1px solid var(--divider-color);
}

.suggestion-item :is(.suggestion-note, .suggestion-prefix) {
  font-size: var(--font-ui-smaller);
  font-family: var(--font-interface);
  position: absolute;
  right: 140px;
  padding: 3px 4px 3px;
  opacity: 0.25;
}

.suggestion-item.mod-complex .suggestion-prefix:after {
  display: none; /* Remove ':' after prefix */
}

body:not(.is-mobile) .prompt .suggestion-item {
  position: relative;
}

.suggestion-item.mod-complex .suggestion-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}

.suggestion-item {
  cursor: var(--cursor);
  padding: var(--size-2-3) var(--size-4-3);
  padding-left: 12px;
  white-space: pre-wrap;
  white-space: unset !important;
}

.suggestion-item,
.suggestion-empty {
  font-size: var(--font-ui-medium);
  border-radius: 10px;
  margin-bottom: 3px;
}

.suggestion-highlight {
  font-weight: 500;
  text-decoration: unset;
}

.suggestion-item.mod-complex .suggestion-highlight {
  color: var(--accent-base-shiny);
}

.prompt-input-container {
  border-bottom: unset;
}

input.prompt-input.is-active {
  border: unset !important;
}

input.prompt-input:focus {
  border: unset !important;
}

input.prompt-input:not(.is-active) {
  border: unset !important;
}

.modal-container .prompt .prompt-results {
  padding: var(--size-4-3);
}

.modal-container .prompt .prompt-instructions {
  display: none;
}

input.prompt-input {
  background-color: unset;
}

/* CORE UI :: Hider CSS Modifications */
.workspace-ribbon.mod-left {
  display: none; /* mod left */
}

:is(
    .pt-nav-header-left-sidebar-align-center .workspace-split.mod-left-split,
    .pt-nav-header-right-sidebar-align-center .workspace-split.mod-right-split,
    .pt-nav-header-left-sidebar-align-center .workspace-drawer.mod-left,
    .pt-nav-header-right-sidebar-align-center .workspace-drawer.mod-right
  )
  .workspace-leaf-content
  .nav-header {
  display: none; /* interaction div */
}

body:not(.native-scrollbars) ::-webkit-scrollbar {
  display: none; /* native-scrollbars */
}

.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
::-webkit-scrollbar {
  width: 0px; /* native-scrollbars */
  height: 0px; /* native-scrollbars */
}

.tooltip {
  display: none !important;
}

.status-bar {
  display: none;
}

.nav-header {
  display: none;
}

.anp-alternate-tab-toggle .sidebar-toggle-button.mod-left,
.anp-alternate-tab-toggle .sidebar-toggle-button.mod-right {
  display: none;
}

/* SETTINGS :: Vertical Nav */
.modal.mod-settings .vertical-tab-header {
  min-width: 200px;
  border-inline-end: 2px solid var(--divider-color);
}

.vertical-tab-header-group-title {
  display: none;
}

body:not(.is-phone) .horizontal-tab-nav-item.is-active,
body:not(.is-phone) .vertical-tab-nav-item.is-active {
  color: var(--text-normal);
}

.horizontal-tab-nav-item.is-active:hover,
.vertical-tab-nav-item.is-active:hover {
  background-color: unset;
}

.horizontal-tab-nav-item.is-active,
.vertical-tab-nav-item.is-active {
  background-color: unset;
  color: var(--interactive-accent);
}

.horizontal-tab-nav-item,
.vertical-tab-nav-item:not(.vertical-tab-nav-item.is-active) {
  color: var(--accent-base-dimmed);
  opacity: 0.5;
}

body:not(.colorful-active) .horizontal-tab-nav-item.is-active,
body:not(.colorful-active) .vertical-tab-nav-item.is-active {
  background-color: unset;
  position: relative;
  left: -6px;
}

.vertical-tab-header-group-items:has(.vertical-tab-nav-item.is-active)
  .vertical-tab-nav-item.is-active::before {
  position: relative;
  vertical-align: baseline;
  content: "·";
  font-weight: 700;
  left: -4px;
}

.vertical-tab-nav-item {
  white-space: nowrap;
  overflow: scroll;
}

/* SETTINGS :: Ext Plugins Highlight */
.installed-plugins-container .setting-item-name {
  color: var(--interactive-accent);
}

/* SETTINGS :: Toggles */
.checkbox-container {
  background-color: unset;
}

.checkbox-container::after {
  display: none;
}

.checkbox-container.checkbox-container {
  height: 22px;
  width: 22px;
  /* background-color: hsla(240, 23%, 9%, 0.302); */
  margin-left: 4px;
  border: 2px solid var(--divider-color);
  transition-duration: 300ms;
  cursor: var(--cursor-link);
  border-radius: 12px;
}

body .checkbox-container.mod-small {
  height: var(--icon-l);
  width: var(--icon-l);
}

.checkbox-container.is-enabled.is-enabled {
  background-color: var(--interactive-accent) !important;
  /* border-color: transparent; */
}

.checkbox-container.checkbox-container:hover {
  border: 9px solid var(--interactive-accent) !important;
  border-color: var(--interactive-accent) !important;
}

.checkbox-container.is-enabled:hover {
  background-color: var(--interactive-accent) !important;
  border-color: transparent;
}

/* FEXP :: Adjustments */
@media (hover: hover) {
  body:not(.is-grabbing) .tree-item-self.is-clickable:hover {
    color: var(--accent-base-shiny);
    background-color: transparent;
    transition: color 300ms ease-in-out;
  }
}

.tree-item-self {
  font-size: 0.9em;
  margin-bottom: unset;
  margin-top: unset;
}

.nav-folder-title {
  color: var(--accent-base-default);
  font-weight: 500;
}

.nav-file-title {
  color: var(--text-muted);
  font-weight: 400;
}

.workspace-leaf-content[data-type="file-explorer"] .nav-files-container {
  padding: unset;
}

body:not(.is-grabbing) .nav-file-title.is-active:hover,
body:not(.is-grabbing) .nav-folder-title.is-active:hover,
.nav-file-title.is-active,
.nav-folder-title.is-active {
  border-color: transparent !important;
  color: var(--text-normal) !important;
}

body:not(.is-phone) .workspace-leaf.mod-active .tree-item-self.has-focus {
  border-radius: unset;
  box-shadow: unset;
}

body:not(.is-grabbing) .nav-file-title.is-active:hover,
body:not(.is-grabbing) .nav-folder-title.is-active:hover,
.nav-file-title.is-active,
.nav-folder-title.is-active {
  background-color: unset;
  box-shadow: unset;
}

.nav-folder-title:is(
    /* [data-path$="+Ref" i], */
    [data-path="Attachments" i],
    [data-path="Assets" i]
  ) {
  transition: 400ms, background-color 150ms ease-in-out;
  opacity: 25%;
}

.nav-folder-title:is(
    /* [data-path$="+Ref" i], */
    [data-path="Attachments" i],
    [data-path="Assets" i]
  ):hover {
  transition: 400ms, background-color 150ms ease-in-out;
  opacity: 100%;
}

/* FEXP :: Prevent filename trim while renaming */
.tree-item-self.is-being-renamed .tree-item-inner {
  white-space: normal;
}

/* SIDEDOCK :: Vault Profiles */
body:not(.is-mobile)
  .workspace-split.mod-left-split
  .workspace-sidedock-vault-profile {
  align-items: center;
  height: var(--header-height);
  flex: 0 0 auto;
  gap: var(--size-4-1);
  justify-content: space-between;
  padding: var(--size-4-2) var(--size-4-2);
  order: 1;
}

body:not(.is-mobile)
  .workspace-split.mod-left-split
  .workspace-sidedock-vault-profile
  .workspace-drawer-vault-switcher {
  color: var(--text-muted);
}

body:not(.is-mobile)
  .workspace-split.mod-left-split
  .workspace-sidedock-vault-profile
  .workspace-drawer-vault-switcher-icon {
  color: var(--text-muted);
}

body:not(.is-mobile)
  .workspace-split.mod-left-split
  .workspace-sidedock-vault-profile
  .workspace-drawer-vault-actions:not(:hover) {
  transition: linear 0.3s;
  opacity: 0;
  color: var(--nav-item-color);
}

body:not(.is-mobile)
  .workspace-split.mod-left-split
  .workspace-sidedock-vault-profile
  .workspace-drawer-vault-actions {
  transition: linear 0.3s 0.2s;
  opacity: 1;
}

/* OUTLINE :: Hide Elements */
body:not(.show-sidebar-header-buttons) {
  --sidebar-tabs-unhovered-height: 8px;
}

body:not(.show-sidebar-header-buttons)
  :is(.mod-left-split, .mod-right-split)
  .workspace-tabs:not(.mod-top)
  .workspace-tab-header-container:not(:hover) {
  height: var(--sidebar-tabs-unhovered-height);
}

body:not(.show-sidebar-header-buttons)
  :is(.mod-left-split, .mod-right-split)
  :is(.workspace-tab-header, .workspace-tab-header svg),
body:not(.show-sidebar-header-buttons)
  :is(.mod-left-split, .mod-right-split)
  :is(.workspace-tab-header-container, .workspace-tab-header-container *) {
  transition: 300ms;
  transition-property: opacity, height, background-color;
  transition-delay: 200ms;
}

body:not(.show-sidebar-header-buttons)
  :is(.mod-left-split, .mod-right-split)
  :is(.workspace-tab-header, .workspace-tab-header svg),
body:not(.show-sidebar-header-buttons)
  :is(.mod-left-split, .mod-right-split)
  :is(.workspace-tab-header-container, .workspace-tab-header-container *) {
  justify-content: center;
  padding: 2px 2px 2px 2px;
  margin: unset;
}

.workspace-leaf-content[data-type="outline"] .view-content {
  padding: 4px 0px 0px 0px;
}

.outline
  .tree-item.is-collapsed
  > .tree-item-self.tree-item-self.tree-item-self {
  font-weight: 600;
}

.outline .pane-empty {
  display: none;
}

.pane-empty {
  display: none;
}

.workspace-ribbon {
  border-right: var(--divider-width) solid var(--divider-color);
}

body:not(.show-sidebar-header-buttons)
  :is(.mod-left-split, .mod-right-split)
  .workspace-tabs:not(.mod-top)
  .workspace-tab-header-container {
  background-color: rgb(var(--ctp-ext-base));
}

/* EDITOR :: Active Line Indicator */
body:not(.no-active-line-highlight, .active-line-background)
  .cm-active:not(.HyperMD-quote, .HyperMD-header, .HyperMD-codeblock)::before {
  position: absolute;
  left: -1.125em;
  height: 100%;
  content: "";
  border-left: 3px solid var(--divider-color);
}

/* BULLET LIST ELEMENT :: Collapsed list bullets animation */
.markdown-source-view.mod-cm6
  .cm-line:hover
  .cm-fold-indicator
  .collapse-indicator,
.markdown-source-view.mod-cm6
  .cm-fold-indicator.is-collapsed
  .collapse-indicator {
  opacity: 0; /* Hide collapse-indicator */
}

.markdown-source-view.mod-cm6 .cm-formatting-list-ul,
.markdown-source-view.mod-cm6 .cm-formatting-list-ol {
  padding-right: 6px;
}

@keyframes outline-pulse-v2 {
  75%,
  to {
    outline: 1px solid var(--list-marker-color-collapsed);
    transform: scale(1);
    opacity: 0.75;
  }

  50% {
    outline: 3px solid hsl(254, 13%, 81%, 0.5);
    opacity: 0.5;
  }
}

li.is-collapsed .list-bullet:after,
.is-collapsed ~ .cm-formatting-list .list-bullet:after {
  animation: outline-pulse-v2 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  transition: opacity 300ms ease-in-out;
}

.markdown-source-view.mod-cm6 .cm-indent::before {
  border-inline-end: 2px solid var(--indentation-guide-color); /* adjusted indentation line */
}

/* CHECKBOX INPUT ELEMENT :: Adjustments */
input[type="checkbox"] {
  border: 1.5px solid var(--checkbox-border-color);
  transition: background-color 0.3s ease;
}

input[type="checkbox"]:checked {
  animation: colorChange 0.5s ease forwards;
}

@keyframes colorChange {
  from {
    background-color: transparent;
  }

  to {
    background-color: var(--checkbox-color);
  }
}

input[type="checkbox"]:hover {
  border: 1.25px solid var(--checkbox-border-color);
  outline: 0.75px solid var(--checkbox-border-color);
}

/* CODE BLOCK ELEMENT :: Adjustments */
body:not(.no-codeblock-line-numbers)
  .HyperMD-codeblock.cm-line:not(
    .HyperMD-codeblock-begin,
    .HyperMD-codeblock-end
  ) {
  padding-left: 2.8em;
}

.cm-line.HyperMD-codeblock .code-block-flair {
  top: unset;
  color: var(--text-muted);
  padding: 0 1px;
}

.markdown-source-view.mod-cm6 .code-block-flair {
  position: absolute;
  right: 6px;
  z-index: 1;
  display: inline-block;
  padding: unset;
  border-radius: var(--code-radius);
  font-family: var(--font-interface);
  font-size: var(--font-ui-smaller);
  color: var(--text-muted);
  cursor: var(--cursor);
  transform: scale(0.8);
}

body:not(.no-codeblock-line-numbers) .HyperMD-codeblock-begin {
  counter-reset: codeblock-line-numbers;
}

body:not(.no-codeblock-line-numbers)
  .is-live-preview
  .HyperMD-codeblock-end
  span:nth-child(2):before {
  display: none;
}

body:not(.no-codeblock-line-numbers)
  .HyperMD-codeblock:not(
    .HyperMD-codeblock-begin,
    .HyperMD-codeblock-end
  ):before {
  color: var(--text-muted);
  text-align: right;
  content: counter(codeblock-line-numbers);
  counter-increment: codeblock-line-numbers;
  /* background-color: rgb(var(--ctp-ext-base)); */
  width: 1.7em;
  height: 100%;
  padding-right: 1.4em;
  font-size: 0.75em;
  line-height: 2;
  position: absolute;
  left: 0;
}

.expressive-code .frame.header::before {
  display: none;
}

.expressive-code .frame .header {
  display: none !important;
  padding-block: unset;
  padding-block-end: unset;
}

.cm-s-obsidian .HyperMD-codeblock {
  font-weight: 500;
}

/* CALLOUT ELEMENT :: Unique Callouts */
.callout[data-callout="blank"] {
  background-color: hsla(210, 10%, 4%, 0.25);
  --callout-icon: transparent;
  --callout-color: transparent;
}

.callout[data-callout="mod"] {
  --callout-icon: zap;
  --callout-color: var(--callout-info);
  background-color: rgba(var(--callout-color), 0.1);
}

/* HIGHLIGHTED TEXT :: Adjustments */
.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
  background-color: var(--accent-ext-linear);
}

/* EXTERNAL LINK :: Unicode symbol */
.external-link {
  background-image: none;
  padding-right: 0;
}

.external-link::after {
  vertical-align: text-top;
  margin-right: unset;
  content: "↗";
  font-size: 12px;
  font-family: "Inter";
  color: var(--text-muted);
}

.cm-s-obsidian span.cm-formatting-link.cm-url,
.cm-s-obsidian span.cm-url {
  text-decoration-line: unset !important;
}

.markdown-source-view.mod-cm6 .cm-link .cm-underline,
.markdown-source-view.mod-cm6 .cm-url .cm-underline {
  color: var(--accent-base-shiny);
}

/* INTERNAL LINK :: Opacity */
.markdown-source-view.mod-cm6 .is-unresolved {
  opacity: 0.5;
}

/* TAB :: Empty State (New tab) */
.workspace-tab-header[aria-label="No file"] {
  visibility: hidden;
}

.workspace-tab-header[aria-label="New tab"] {
  visibility: hidden;
}

.mod-root .workspace-tab-header-new-tab {
  visibility: hidden;
}

.workspace-tab-header[data-type="empty"]:not(:only-child) {
  font-style: italic;
}

.empty-state-action {
  display: none;
}

.mod-root .empty-state-title {
  font-size: 0;
}

.mod-root .empty-state-title::after {
  content: var(--signature);
  font-size: 4rem;
  font-weight: 600;
  color: var(--accent-base-default);
}

/* TAB :: Minimal theme layout add-on */
.is-hidden-frameless:not(.is-fullscreen)
  .workspace-tabs.mod-top-right-space
  .workspace-tab-header-container {
  background-color: var(--background-primary);
  border-bottom: unset;
}

body:not(.is-grabbing):not(.is-fullscreen).is-hidden-frameless
  .mod-top
  .workspace-tab-header-container {
  background-color: unset;
}

.mod-linux .titlebar-button,
.mod-windows .titlebar-button {
  background-color: var(--background-primary);
}

.anp-alternate-tab-toggle
  .mod-root:not(.mod-left-split):not(.mod-right-split)
  .workspace-tabs:not(.mod-stacked)
  .workspace-tab-header.is-active {
  background-color: var(--background-secondary-alt);
}

.mod-left-split
  .workspace-tab-header.has-active-menu
  .workspace-tab-header-inner-icon,
.mod-right-split
  .workspace-tab-header.has-active-menu
  .workspace-tab-header-inner-icon,
.mod-left-split
  .workspace-tab-header.is-active
  .workspace-tab-header-inner-icon,
.mod-right-split
  .workspace-tab-header.is-active
  .workspace-tab-header-inner-icon {
  color: var(--text-normal) !important;
}

.anp-alternate-tab-toggle
  .mod-root
  .workspace-tabs:not(.mod-stacked).mod-active
  .workspace-tab-header.is-active
  .workspace-tab-header-inner,
.anp-alternate-tab-toggle
  .mod-root
  .workspace-tabs:not(.mod-stacked).mod-active
  .workspace-tab-header.is-active
  .workspace-tab-header-inner-title,
.anp-alternate-tab-toggle
  .mod-root
  .workspace-tabs:not(.mod-stacked).mod-active
  .workspace-tab-header.is-active
  .workspace-tab-header-inner-close-button,
.anp-alternate-tab-toggle
  .mod-root
  .workspace-tabs:not(.mod-stacked).mod-active
  .workspace-tab-header.is-active
  .workspace-tab-header-inner-icon {
  color: var(--text-normal) !important;
}

.is-active .workspace-tab-header-inner-title {
  font-weight: 500;
  color: var(--typo-hsl);
  text-rendering: geometricPrecision;
}

.workspace
  .mod-root
  .workspace-tab-header:not(.is-active)
  .workspace-tab-header-inner-title {
  opacity: 0.4;
}
