/*
   - Obsidian MOD :: Remove shadow
   - Obsidian CORE :: File Explorer
   - Obsidian CORE :: Command palette command (pinned)
   - Obsidian CORE :: Outline
   - Obsidian CORE :: Graph View Tab Symbol
   - Obsidian CORE :: Graph View Timelapse Animation

   SVG Sources:
   https://icones.js.org/
   https://lucide.dev/icons/

   SVG Converter:
   https://yoksel.github.io/url-encoder/
*/

/* Obsidian MOD :: Remove shadow  */
mod-left-split
  .workspace-tab-header
  .mod-left-split
  .workspace-tab-header.has-active-menu,
.mod-right-split .workspace-tab-header.has-active-menu,
.mod-left-split .workspace-tab-header.is-active,
.mod-right-split .workspace-tab-header.is-active {
  background-color: unset;
}

.sidebar-toggle-button {
  display: none;
}

/* Obsidian CORE :: File Explorer */
.workspace-tab-header[aria-label="Files"] .workspace-tab-header-inner-icon svg {
  background-color: currentColor;
  --icon-size: 16px;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg%3E%3Cpath fill='currentColor' d='M23 3c-6.62-.1-10.38 2.421-13.05 6.03C7.29 12.61 6 17.331 6 22h2c0-1.007.07-2.012.19-3H12c4.1 0 7.48-3.082 7.94-7.054C22.79 10.147 23.17 6.359 23 3zm-7 8h-1.5v2H16c.63-.016 1.2-.08 1.72-.188C16.95 15.24 14.68 17 12 17H8.55c.57-2.512 1.57-4.851 3-6.78 2.16-2.912 5.29-4.911 9.45-5.187C20.95 8.079 19.9 11 16 11zM4 9V6H1V4h3V1h2v3h3v2H6v3H4z'/%3E%3C/g%3E%3C/svg%3E%0A");
  /* -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M6 13c-2.2 0-4 1.8-4 4s1.8 4 4 4s4-1.8 4-4s-1.8-4-4-4zm6-10C9.8 3 8 4.8 8 7s1.8 4 4 4s4-1.8 4-4s-1.8-4-4-4zm6 10c-2.2 0-4 1.8-4 4s1.8 4 4 4s4-1.8 4-4s-1.8-4-4-4z'/%3E%3C/svg%3E"); */
}

/* Obsidian CORE :: Bookmarks */
.workspace-tab-header[aria-label="Bookmarks"]
  .workspace-tab-header-inner-icon
  svg {
  background-color: currentColor;
  --icon-size: 16px;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='currentColor' stroke-width='1.75'%3E%3Cpath stroke-linecap='round' d='M10 22c-2.828 0-4.243 0-5.121-.879C4 20.243 4 18.828 4 16V8c0-2.828 0-4.243.879-5.121C5.757 2 7.172 2 10 2h4c2.828 0 4.243 0 5.121.879C20 3.757 20 5.172 20 8m-6 14c2.828 0 4.243 0 5.121-.879C20 20.243 20 18.828 20 16v-4'/%3E%3Cpath d='M19.898 16h-12c-.93 0-1.395 0-1.777.102A3 3 0 0 0 4 18.224'/%3E%3Cpath stroke-linecap='round' d='M7 16V9m0-6.5V5m6 11v3.53c0 .276 0 .414-.095.47s-.224-.006-.484-.13l-1.242-.59c-.088-.04-.132-.062-.179-.062s-.091.021-.179.063l-1.242.59c-.26.123-.39.185-.484.129C9 19.944 9 19.806 9 19.53v-3.08'/%3E%3C/g%3E%3C/svg%3E");
}

/* Obsidian CORE :: Command palette command (pinned) */
.suggestion-item.mod-complex .suggestion-flair svg {
  background-color: currentColor;
  color: var(--accent-base-shiny);
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23888888' d='M10.154 14H7.169q-.407 0-.59-.355q-.18-.355.054-.682l5.629-8.153q.153-.216.38-.286q.227-.07.48.022q.251.092.365.304q.113.212.082.463L12.865 11h3.587q.42 0 .595.383q.176.382-.095.71l-6.264 7.503q-.16.19-.386.242t-.448-.046q-.221-.098-.338-.297q-.116-.199-.085-.45z'/%3E%3C/svg%3E");
}

/* Obsidian CORE :: Outline */
.workspace-tab-header[data-type="outline"]
  .workspace-tab-header-inner-icon
  svg {
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='currentColor' d='M2 4.25a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.25Zm0 5a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 9.25Zm.75 4.25a.75.75 0 0 0 0 1.5h8.5a.75.75 0 0 0 0-1.5h-8.5Z'/%3E%3C/svg%3E");
}

/* Obsidian CORE :: Graph View Tab Symbol */
.workspace-tab-header[aria-label="Graph view"]
  .workspace-tab-header-inner
  .workspace-tab-header-inner-icon
  svg {
  height: 12px;
  width: 12px;
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 24 24' style='fill: rgba(0, 0, 0, 1);transform: ;msFilter:;'%3E%3Cpath d='M2 11h5v2H2zm15 0h5v2h-5zm-6 6h2v5h-2zm0-15h2v5h-2zM4.222 5.636l1.414-1.414 3.536 3.536-1.414 1.414zm15.556 12.728-1.414 1.414-3.536-3.536 1.414-1.414zm-12.02-3.536 1.414 1.414-3.536 3.536-1.414-1.414zm7.07-7.071 3.536-3.535 1.414 1.415-3.536 3.535z'%3E%3C/path%3E%3C/svg%3E");
}

/* Obsidian CORE :: Graph View Timelapse Animation */
.graph-controls.is-close
  .graph-controls-button.mod-animate[aria-label="Start timelapse animation"]
  svg {
  height: 20px;
  width: 20px;
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 24 24' style='fill: rgba(0, 0, 0, 1);transform: ;msFilter:;'%3E%3Cpath d='M2 11h5v2H2zm15 0h5v2h-5zm-6 6h2v5h-2zm0-15h2v5h-2zM4.222 5.636l1.414-1.414 3.536 3.536-1.414 1.414zm15.556 12.728-1.414 1.414-3.536-3.536 1.414-1.414zm-12.02-3.536 1.414 1.414-3.536 3.536-1.414-1.414zm7.07-7.071 3.536-3.535 1.414 1.415-3.536 3.535z'%3E%3C/path%3E%3C/svg%3E");
}
